In [5]:
rm(list = ls())
setwd(rprojroot::find_rstudio_root_file())
source("base/Preprocess_data.R")

In [6]:
data_EDA1 = preprocess_data(
    catchment_code = "5410002",
    datetime_initialisation = '2016-5-1',
    predictor_list = c("pr_sum_-1months","tem_mean_2months")
)

data_EDA1  %>% names()

 [1] "X_train"      "y_train"      "q_train"      "wy_train"     "raw_data"
 [6] "time_horizon" "info"         "X_test"       "y_test"       "q_test"

In [7]:
data_EDA2 = preprocess_data(
    catchment_code = "5410002",
    datetime_initialisation = '2016-5-1',
    predictor_list = c("pr_sum_-1months","tem_mean_2months"),
    horizon = horizon_mode(window_method = "dynamic", month_start = 9, month_end = 3),
    data_location_paths = get_default_datasets_path(meteo = "ens30avg",hydro = "ERA5Ens_SKGE"),
    water_units = waterunits(q = "m^3/s", y = "GL"),
    forecast_mode = "both",
    remove_wys <- c(1990,1950,2013)
)

data_EDA2  %>% names()

 [1] "X_train"      "y_train"      "q_train"      "wy_train"     "raw_data"
 [6] "time_horizon" "info"         "X_test"       "y_test"       "q_test"

In [8]:
#PARAMETERS
dataset_meteo  <- "ens30avg"
dataset_hydro  <- "ERA5Ens_SKGE"

#set the dataset location to the default where the data is already store.
#it's possible to modify this dataset paths, following the same list structure and names.
#values of meteo, hydro and climateindex filenames can be NULL
data_location_paths <- get_default_datasets_path(
    meteo = dataset_meteo,
    hydro = dataset_hydro)
data_location_paths

$catchments_attributes_filename
[1] "data_input/attributes/attributes_49catchments_ChileCentral.csv"

$flows_filename
[1] "data_input/flows/flows_mm_monthly_49catchments_ChileCentral.csv"

$meteo_filename
data_input/meteo_variables/meteo_monthly_catchments_ChileCentral_ens30avg_1979_present.csv

$hydro_filename
data_input/storage_variables/hydro_variables_monthly_catchments_ChileCentral_ERA5Ens_SKGE.csv

$climateindex_filename
[1] "data_input/climate_index_variables/indices_mensuales_1979_present.csv"

In [9]:
#PARAMETERS
catchment_code <- "5410002"
remove_wys <- c(1990,1950,2013)
water_units = waterunits(q = "m^3/s", y = "GL")# GL is equivalent to one million m3

# catchment data (raw forcings, flows)
catchment_data <- read_catchment_data(
catchment_code = catchment_code,
remove_wys = remove_wys,
water_units = water_units,
data_location_paths = data_location_paths
)
#attributes of the catchment data
print(names(catchment_data))

[1] "monthly_flows"        "monthly_meteo"        "monthly_hydro"
[4] "monthly_climateindex" "raw_data_df"          "attributes_catchment"

In [10]:
print('catchment attributes:')
catchment_data$attributes_catchment %>% tail()

[1] "catchment attributes:"

   cod_cuenca gauge_name                    gauge_lat gauge_lon area_km2
21 5410002    Rio Aconcagua En Chacabuquito -32.8503  -70.5094  2113.423

In [11]:
print('monthly averaged flows:')
catchment_data$monthly_flows  %>% tail()

[1] "monthly averaged flows:"

  wy_simple wym Q_mm     Q_converted
1 2020      10  70.89504 56.97436
2 2020      11  42.97035 34.53285
3 2020      12  28.80140 23.14607
4 2021       1  18.07564 14.52637
5 2021       2  16.04798 12.89686
6 2021       3  17.81437 14.31641

In [12]:
print('monthly averaged meteorology:')
catchment_data$monthly_meteo %>% tail()

[1] "monthly averaged meteorology:"

  wy_simple wym pr     tem
1 2022      4   95.740 -1.161
2 2022      5   41.339  0.120
3 2022      6    1.090  0.557
4 2022      7    2.667  3.991
5 2022      8    1.985  8.589
6 2022      9    2.621 10.640

In [13]:
print('monthly averaged hydrological model variables:')
catchment_data$monthly_hydro %>% tail()

[1] "monthly averaged hydrological model variables:"

  wy_simple wym AE    SLZ    SM      SP SUZ STORAGE
1 2019       7  0.442 41.749 165.863 0  0   208.054
2 2019       8  0.544 30.032 152.008 0  0   182.584
3 2019       9  0.565 21.430 136.439 0  0   158.434
4 2019      10  0.420 19.015 124.232 0  0   143.667
5 2019      11  0.349 13.823 112.935 0  0   127.107
6 2019      12  0.242  9.828 103.779 0  0   113.849

In [14]:
print('monthly selected climate indices:')
catchment_data$monthly_climateindex %>% tail()

[1] "monthly selected climate indices:"

    wy_simple wym MEIv2 PDO    SOI ONI   OLR NINO1.2 NINO3 NINO4 NINO3.4
506 2022       5  -1.79 -1.945 1.7 -0.91 1.2 -0.60   -0.67 -1.09 -0.98
507 2022       6  -1.78 -1.724 2.7 -1.01 1.2 -1.02   -0.96 -1.17 -1.07
508 2022       7  -1.75 -1.346 2.8 -0.99 1.2 -1.79   -1.10 -1.12 -0.98
509 2022       8  -1.53 -1.986 0.5 -0.92 1.3 -1.13   -0.94 -0.99 -0.90
510 2022       9  -1.26 -1.837 3.5 -0.82 1.7 -0.46   -0.81 -0.84 -0.85
511 2022      10  -1.12 -0.960 2.3 -0.71 1.8 -0.57   -0.55 -0.66 -0.71
    ESPI     AAO    BIENSO
506 -1.23034 0.7313 -1.52
507 -1.16183 1.4685 -1.87
508 -1.19816 0.3303 -1.78
509 -0.79040 1.7134 -0.62
510 -1.23068 1.7004 -2.01
511 -0.98883 2.3037 -1.29

In [15]:
datetime_initialisation = '2022-5-01'
date_init = initialisation_dates(datetime_initialisation)
date_init

$init_water_year_month
[1] 2

$init_water_year
[1] 2022

$init_month
[1] 5

$init_year
[1] 2022

$ymd_datetime
[1] "2022-05-01 UTC"

$datetime_initialisation
[1] "2022-5-01"

In [16]:
predictor_list <- c("pr_sum_-1months","tem_mean_5months","SOI_mean_1months")

# create the predictors variables
predictors <-
predictors_generator(
predictor_list = predictor_list,
month_initialisation_index = date_init$init_water_year_month,
catchment_data = catchment_data,
remove_wys = remove_wys
)

predictors

Warning. Removing INCOMPLETE PREDICTORS, WATER-YEARS: c(1979, 1979)c(2023, 2023)

   wy_simple pr_sum_1months tem_mean_5months SOI_mean_1months
1  1980      167.752         8.3902          -1.0
2  1981        2.253         8.9372          -0.2
3  1982        0.225         9.3870           0.1
4  1983       18.444         8.4892          -1.5
5  1984        4.312         9.5076           0.6
6  1985        4.425         8.6972           1.9
7  1986       23.608         9.4676           0.5
8  1987       14.411         9.6464          -2.3
9  1988        4.034         8.8672           0.2
10 1989        9.789         9.9268           2.7
11 1991       53.905         9.9662          -1.0
12 1992       61.483         8.8466          -1.7
13 1993       44.767         9.7530          -1.9
14 1994       36.729         9.8012          -2.1
15 1995       41.148         9.9308          -1.1
16 1996       18.593         9.1048           1.3
17 1997        1.026        10.5360          -1.0
18 1998       59.077         8.8572          -2.4
19 1999        4.740         9.6876           2.3
20 2000       10.900         9.8282           2.0
21 2001       20.520         9.8964           0.3
22 2002        2.731         9.6526          -0.1
23 2003        0.253         9.9378          -0.2
24 2004       31.430         9.6754          -1.5
25 2005       14.447         9.0804          -1.0
26 2006        5.348        10.2596           1.8
27 2007        3.685         9.3938          -0.2
28 2008       14.199         9.5514           1.1
29 2009        0.031        10.4294           1.3
30 2010        2.234        10.2658           2.0
31 2011        0.424         9.1304           3.1
32 2012       21.585        10.2078          -0.4
33 2014        6.063         9.6732           1.3
34 2015        0.000        10.5804          -0.1
35 2016      138.131         9.1190          -2.0
36 2017       15.941         9.3956          -0.3
37 2018        1.185        10.2272           0.8
38 2019        2.220        10.3064           0.2
39 2020        6.048        11.2954           0.3
40 2021        0.107         9.8326           0.6
41 2022       20.373         9.9900           2.8

In [17]:

horizon = horizon_mode(
# two types of forecast window methods:
#'dynamic': moving window if date_initialisation is after 'month_start' [month_start:month_end]
#'static': always fixed window in the horizon [month_start:month_end]
    window_method = "dynamic",
    #forecast horizon in each year. Typically sep:9 to mar:3 in Chile.
    month_start = 9,
    month_end = 3)

# set target period of the forecast
forecast_horizon <- get_forecast_horizon(date_init,horizon)
forecast_horizon

$months_wy
 [1] "abr" "may" "jun" "jul" "ago" "sep" "oct" "nov" "dic" "ene" "feb" "mar"

$months_forecast_period
[1] "sep" "oct" "nov" "dic" "ene" "feb" "mar"

$dates_forecast_period
[1] "2022-09-01" "2022-10-01" "2022-11-01" "2022-12-01" "2023-01-01"
[6] "2023-02-01" "2023-03-01"

$days_per_month_horizon
Sep Oct Nov Dec Jan Feb Mar
 30  31  30  31  31  28  31

$months_before_initialisation
[1] "abr"

$init_forecast_index
[1] 6

$end_forecast_index
[1] 12

$month_initialisation_index
[1] 2

$date_initialisation
[1] "01 05 2022"

$datetime_initialisation
[1] "2022-5-01"

$volume_span_text
[1] "[sep,mar]"

$volume_span_text_v2
[1] "sep 2022 - mar 2023"

$months_target_water_year
 [1] "2022-04-01" "2022-05-01" "2022-06-01" "2022-07-01" "2022-08-01"
 [6] "2022-09-01" "2022-10-01" "2022-11-01" "2022-12-01" "2023-01-01"
[11] "2023-02-01" "2023-03-01"

In [18]:
# create the target variable (y:VOLUME)
predictant <-
predictant_generator(
forecast_horizon = forecast_horizon,
catchment_data = catchment_data,
water_units = water_units
)

predictant$y

   volume    wy_simple
1   468.9446 1981
2  1835.3082 1982
3  1145.2406 1983
4  1341.3946 1984
5   665.0035 1985
6  1298.1427 1986
7  1805.4835 1987
8   446.5912 1988
9   725.5958 1989
10 1044.8438 1991
11  874.8778 1992
12  625.2163 1993
13  614.0448 1994
14  483.1514 1995
15  236.1269 1996
16 1390.8758 1997
17  365.1834 1998
18  642.2630 1999
19 1127.3731 2000
20  920.2723 2001
21 1465.8970 2002
22  669.7728 2003
23  489.1450 2004
24 1580.6534 2005
25 1074.7296 2006
26  648.8899 2007
27 1071.7142 2008
28  739.9296 2009
29  274.3425 2010
30  433.3621 2011
31  444.3117 2012
32  407.8351 2014
33  722.7360 2015
34  767.5517 2016
35  402.6828 2017
36  337.1941 2018
37  237.9424 2019
38  770.8871 2020

In [19]:
# separate X (predictors),y (target-volume) and q (flow) into training sets based on wy_holdout.
train_set <- 
training_set(
predictor = predictors,
predictant = predictant,
water_year_target = date_init$init_water_year
)
train_set  %>% names()

[1] "X_train"  "y_train"  "q_train"  "wy_train"

In [20]:
train_set

$X_train
     pr_sum_1months tem_mean_5months SOI_mean_1months
1981          2.253           8.9372             -0.2
1982          0.225           9.3870              0.1
1983         18.444           8.4892             -1.5
1984          4.312           9.5076              0.6
1985          4.425           8.6972              1.9
1986         23.608           9.4676              0.5
1987         14.411           9.6464             -2.3
1988          4.034           8.8672              0.2
1989          9.789           9.9268              2.7
1991         53.905           9.9662             -1.0
1992         61.483           8.8466             -1.7
1993         44.767           9.7530             -1.9
1994         36.729           9.8012             -2.1
1995         41.148           9.9308             -1.1
1996         18.593           9.1048              1.3
1997          1.026          10.5360             -1.0
1998         59.077           8.8572             -2.4
1999          4.740           9.6876              2.3
2000         10.900           9.8282              2.0
2001         20.520           9.8964              0.3
2002          2.731           9.6526             -0.1
2003          0.253           9.9378             -0.2
2004         31.430           9.6754             -1.5
2005         14.447           9.0804             -1.0
2006          5.348          10.2596              1.8
2007          3.685           9.3938             -0.2
2008         14.199           9.5514              1.1
2009          0.031          10.4294              1.3
2010          2.234          10.2658              2.0
2011          0.424           9.1304              3.1
2012         21.585          10.2078             -0.4
2014          6.063           9.6732              1.3
2015          0.000          10.5804             -0.1
2016        138.131           9.1190             -2.0
2017         15.941           9.3956             -0.3
2018          1.185          10.2272              0.8
2019          2.220          10.3064              0.2
2020          6.048          11.2954              0.3

$y_train
        volume
1981  468.9446
1982 1835.3082
1983 1145.2406
1984 1341.3946
1985  665.0035
1986 1298.1427
1987 1805.4835
1988  446.5912
1989  725.5958
1991 1044.8438
1992  874.8778
1993  625.2163
1994  614.0448
1995  483.1514
1996  236.1269
1997 1390.8758
1998  365.1834
1999  642.2630
2000 1127.3731
2001  920.2723
2002 1465.8970
2003  669.7728
2004  489.1450
2005 1580.6534
2006 1074.7296
2007  648.8899
2008 1071.7142
2009  739.9296
2010  274.3425
2011  433.3621
2012  444.3117
2014  407.8351
2015  722.7360
2016  767.5517
2017  402.6828
2018  337.1941
2019  237.9424
2020  770.8871

$q_train
           sep       oct       nov       dic       ene       feb      mar
1981 12.636667 20.119355  37.16667  32.93871  34.06774  25.98929 16.28710
1982 44.910000 50.854839  88.78333 180.24815 167.22581 112.80000 55.63226
1983 20.163333 52.364516  94.19667 116.43871  75.09032  51.46786 26.53226
1984 24.906667 66.677419  90.74333 118.37742 100.91935  63.21071 45.83226
1985 14.516667 20.974194  58.08333  57.43548  45.10968  34.58571 23.26774
1986 25.630000 41.958065  78.32000 148.31290 100.61290  61.47500 37.66452
1987 35.553333 55.051613 146.78333 176.06452 149.87097  81.26786 43.24516
1988 10.509333 18.393548  32.63667  31.71935  31.08387  29.20357 17.40968
1989 23.030000 38.500000  77.97000  58.26129  36.33226  25.82143 16.74839
1991 33.910000 38.248387  77.61333  85.11935  80.21935  50.73929 32.75806
1992 21.970000 41.380645  65.85667  74.67097  64.99355  38.03571 26.24839
1993 17.456667 27.667742  45.64667  54.48065  44.12581  26.95357 21.74194
1994 18.740000 24.564516  50.16333  56.81613  39.52258  25.98214 18.20645
1995 15.996667 18.375161  42.56333  39.14194  25.93548  23.55357 18.99032
1996  6.564667  8.957419  12.11200  14.49774  19.48065  15.35714 13.27871
1997 37.973333 39.700000  73.63667 132.56452 145.96452  63.65357 35.56129
1998  9.048667 16.519355  22.13000  27.34194  25.48387  23.07143 15.98710
1999 22.250000 37.003226  56.30000  51.57097  37.11935  23.55000 16.81290
2000 24.106667 55.880645  72.39333 122.24516  77.64839  48.89643 27.58710
2001 22.336667 43.038710  60.24333 106.62903  57.30968  38.14286 22.24516
2002 31.513333 51.080645  98.41000 135.16774 126.70645  76.41786 39.59355
2003 15.656667 32.770968  57.70000  52.91935  44.96452  31.95000 19.56129
2004 17.120000 16.106452  33.12667  43.31935  34.34839  23.92857 18.61290
2005 37.393333 53.638710 109.95667 162.80000 134.80323  74.83929 28.71290
2006 24.633333 46.841935  85.78333 107.84516  81.04194  36.95000 25.30000
2007 17.163333 31.151613  57.66333  53.72258  42.41613  27.72143 17.52581
2008 25.876667 45.116129 111.39667 102.35484  60.69355  39.00714 23.89032
2009 22.216667 28.461290  46.67000  71.07742  53.25161  34.21429 25.90000
2010  8.542667 11.826774  20.44333  18.34516  17.25161  16.08929 12.42097
2011 10.259667 16.416129  33.93000  44.77802  25.24516  19.97143 14.55667
2012 12.646552 14.587097  39.88667  33.48710  32.13871  24.04286 13.11935
2014  8.144138 33.243633  43.47289  20.36129  20.91613  16.18214 13.17903
2015 14.533333 20.090323  46.89333  76.02903  57.75484  38.04286 22.15806
2016 26.076667 33.964516  56.79000  70.38387  55.03548  30.85714 19.12258
2017 13.016000 17.951613  26.89667  37.39032  23.26129  21.86429 13.36774
2018  9.048333 11.350968  25.15000  26.57742  23.92258  20.33214 12.58323
2019  5.506633  6.088548  13.60700  16.05484  19.48761  16.65943 13.66223
2020 19.379987 31.180236  56.98412  70.16241  55.94055  37.53906 22.72608

$wy_train
 [1] 1981 1982 1983 1984 1985 1986 1987 1988 1989 1991 1992 1993 1994 1995 1996
[16] 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
[31] 2012 2014 2015 2016 2017 2018 2019 2020

In [21]:
# corrected predictor list names (period may change if -1 is set)
predictor_list_corrected <- 
             predictors %>%
             select(- "wy_simple") %>%
             colnames
predictor_list_corrected

[1] "pr_sum_1months"   "tem_mean_5months" "SOI_mean_1months"

In [22]:
# testing set 
test_set  <- 
  testing_set(
    predictors = predictors,
    predictant = predictant,
    water_year_target = date_init$init_water_year)
test_set

$X_test
     pr_sum_1months tem_mean_5months SOI_mean_1months
2022         20.373             9.99              2.8

$y_test
NULL

$q_test
NULL

$X_test
     pr_sum_1months tem_mean_5months SOI_mean_1months
2022         20.373             9.99              2.8

$y_test
NULL

$q_test
NULL